h1 {
	font-size: 32px;
	color:black;
	text-align: center;
	font-family: sans-serif;
	font-style: bold;
	margin:0 auto;
	max-width: 600px;
}

p {
	display: block
	margin:0 auto 15px auto;
	max-width: 600px;
	font-size: 30px;
	font-family: sans-serif;

.chartcontainer {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}

p {
	display:block 
	margin: 0 auto 15px auto;
	max-width: 600px;
}

h2 { 
	font-size: 15px; 
 	color:black;
 	text-align: center;
 	font-family: sans-serif;
 	font-variant: normal;
 }

h3 {
	font-size: 15px;
	color:black;
	text-align: left;
	font-family: sans-serif;
	font-variant: normal;
}

p {
	display: block;
	margin: 0 auto 15px auto;
	max-width: 600px;
	font-size: 15px
	color: black
	font: sans-serif;
}
