h1 {
	font-size: 100px;
	color:black;
	text-align: center;
}

.chartcontainer {
	max-width: 5000px;
	text-align: center;
}

h2 { 
	font-size: 35px; 
 	color:black;
 	text-align: center;
}

h3 {
	font-size: 25px;
	color:black;
	text-align: center;
}

h4 {
	font-size: 25px;
	color:black;
	text-align: center;
}

h5 {
	font-size: 25px;
	color:black;
	text-align: center;
}

h6 {
	font-size: 25px;
	color:black;
	text-align:center;
}