h1 {
	font-size: 32px;
	color:black;
	font-family: sans-serif;
	font-style: bold;
	margin: 40px auto 40px auto;
	max-width: 600px;
}

p {
	font-size: 20px;
	font-family: sans-serif;
	text-align: left;
}

.chartcontainer {
	max-width: 600px;
	text-align: center;
	margin: 0 auto;
}

p {
	display:block 
	margin: 0 auto 15px auto;
	max-width: 600px;
	font-size: 15px;
}

h2 { 
	font-size: 200%; 
 	color:black;
 	text-align: center;
 	font-family: sans-serif;
 	font-variant: normal;
 }

h3 {
	font-size: 16px;
	color:rgb(40, 124, 186);
	text-align: center;
	font-family: sans-serif;
	font-variant: normal;
	margin: 20px auto 15px auto;
	max-width: 600px;
	text-align: left;
	padding-top: 20px;
	border-top: 3px solid rgb(40, 124, 186);
}

p {
	display: block;
	margin: 0 auto 15px auto;
	max-width: 600px;
	font-size: 16px;
	line-height: 1.7em;
	color: #4a4a4a;
	font: sans-serif;
}

h4 {
	font-size: 200%;
	color:black;
	text-align: center;
	font-family: sans-serif;
	font-variant: normal;
}

p {
	display: block;
	margin: 0 auto 15px auto;
	max-width: 600px;
	font-size: 15px
	color: black
	font: sans-serif;
}

h5 {
	font-size: 200%px;
	color: black;
	text-align: center;
	font-family: sans-serif;
	font-variant:normal;
}

p {
	display: block;
	font-size: 15px
	color: black
	font: sans-serif;
}




